.section-title {
	margin: 5vh;
	font-size: 50px;
}

.my-work ul {
	width: 100%;
}

.my-work a,
a:link,
a:visited {
	text-decoration: none;
	color: inherit;
}

.project-name {
	color: black;
	margin: 0 0 0 -5px;
	padding: 0 10px;
	padding-bottom: 10px;
}

.project-name h4 {
	text-decoration: underline;
	font-size: 25px;
	margin: 10px;
}

.project-name p {
	font-size: 20px;
	margin: 10px;
}

.project img {
	width: 40vw;
	height: 40vh;
}

@media screen and (max-width: 980px) {
	.project img {
		width: 90vw;
		height: 40vh;
	}
}