
main{
	background-image: url("../../../preview/background1.gif");
	background-repeat: repeat;
}
#repo {
    flex-grow: 1;
}

#repo h3 {
    font-size: 36px;
	align-items: center;
    font-family:'Times New Roman', Times, serif;
    color: #520095;
    padding-left: 17px!important;
}

#i:hover {
    color: #a42ee86f;
}

#repo .card {
    background-color:  rgb(226, 196, 255);
    border: 0;
    border-radius: 8px;

   
}
.card img {

	width: 90%;
}
.card-title,
.card-text {
    padding-left: 1.25rem;
}

i{
	color: rgb(32, 0, 63);
	

}
.url {
    bottom: 0;
	margin-bottom: 0px;
}